.card{
    padding: 0px;
    break-inside: avoid;
    height: -moz-fit-content;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none !important;
    text-align: center;
    cursor: pointer;
}
.image{
    width: 100%;
    border-radius: 10px;
}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    cursor: pointer;
    visibility: hidden;
    border-radius:10px
}
.back::before{
    content: "";
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background: #ccc;
    border-radius: 10px;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}
.card:hover > .front{
    visibility: hidden;
}
.card:hover > .back{
    visibility: unset;
}

.contenido{
    margin: 5px;
    width: -webkit-fill-available;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    z-index: 1 !important;
}
.email{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    z-index: 1 !important;
}
.tags{
    width: 100%;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    z-index: 1 !important;
}
.tag{
    width: fit-content;
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    background: #ED2C6C;
    color: #FFFFFF;
    align-self: baseline;
    z-index: 1 !important;
}
.description{
    margin-top:0px;
    margin-bottom: 5px;
    height: fit-content;
    z-index: 1 !important;
}
.description::first-letter{
    text-transform: uppercase;
}
.link{
    text-decoration: none;
    color: #AE4BBB;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1 !important;
}
.cont{
    z-index: 1 !important;
    display: grid;
}
.link:hover{
    text-decoration: underline;
    color: #0000EE;
    z-index: 1 !important;
}
.likes{
    display: inline-flex;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    z-index: 1 !important;
}
.likes-h3{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 35px;
}
.corazon{
    color: #ED2C6C !important;
    margin-right: 10px;
}
.fecha{
    margin-left: -10px;
}