.search{
    justify-content: center;
    margin-right: 10%;
}

.search-input{
    padding: 5px 50px 5px 30px;
    border-radius: 20px;
    background: #ccc;
    color: black;
    float: left;
    height: 40px;
    width: 345px;
    font-size: 25px;
    text-align: center;
}
.search-input:focus{
    background: #ccc;
    outline: none;
}
.lupa{
    font-size: 45px !important;
    border-radius: 0px 10px 10px 0px;
    background: transparent;
    margin-bottom: 6px;
    margin-left: -55px;
    cursor: pointer;
    float: left !important;
}