.App {
  margin: 0px;
  padding: 0px;
}
.main-container{
  width: 80%;
  margin-right: auto;
  columns: 3; /*3*/
  margin-left: auto;
  column-gap: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media(max-width: 1225px){
  .main-container{
    columns: 2;
  }
}

@media(max-width: 842px){
  .main-container{
    columns: 1;
  }
  .card{
    width: 100%;
  }
}